*.sdf
/Build
/Bin
/Lib
*.suo
/Debug
/ipch/duilib-506f8d21/debug_sud/duilib-5f9be539.ipch
/ipch/duilib-506f8d21/release_su/*.ipch
/*.suo
/*.opensdf
/ipch/duilib-506f8d21/release_u/*.ipch
/ipch/duilibpreview-4ed54a45/*.ipch
/gitcommit.log
/gitinfo.log
